# Secretos
.env
.env.local
*.pem

# Entorno virtual
env/
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Django
db.sqlite3
db.sqlite3-journal
/staticfiles/
/media/
*.log

# Editor / SO
.vscode/
.idea/
.DS_Store
Thumbs.db
